:root {
  --screen-width-sm: 540px;
  --screen-width-md: 720px;
  --screen-width-lg: 960px;
  --screen-width-xl: 1113px;
  --screen-width-2xl: 1320px;
  --container-padding: 28px;
}

* {
  box-sizing: border-box;
  border: 0 solid;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/* header-style start */
.header {
  background-color: #49a368;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 58vw;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  gap: 50px;
  display: flex;
}
/* header-style end */

/* about-page-navbar styling-start */
.about-page-navbar {
  background-color: #32483a;
  display: flex;
  color: #fff;
  font-weight: lighter;
  font-size: 1.2em;
  justify-content: center;
}

.about-page-navbar-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 58vw;
}

.about-page-navbar-content ul {
  gap: 5em;
  padding-inline-start: 0;
}
/* about-page-navbar styling-end */

/* company-overview styling-start */
.company-overview {
  background-size: cover;
  background-position-x: 40%;
  background-position-y: 90%;
  background-repeat: no-repeat;
  height: 90vh;
  background-image: linear-gradient(
      90deg,
      rgba(2, 23, 9, 0.96) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(img/about-landing-image.png);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.company-overview .content {
  flex-grow: 1;
  max-width: 58vw;
}

.company-overview .content .content-wrapper {
  max-width: 572px;
}

.company-overview .content h1,
p {
  margin-bottom: 32px;
  line-height: 32px;
}

.company-overview .content h1 {
  font-size: clamp(2.8rem, 0.3rem + 2.7vw, 3rem);
}

.company-overview .content p {
  font-size: 1rem;
}

.company-overview .content .btn {
  padding-top: 1rem;
}

.company-overview .content .btn a {
  width: 140px;
  text-align: center;
  border-radius: 35px;
  padding: 0.75rem 1.3rem;
  border: 1px solid hsl(135, 100%, 40%);
  background: linear-gradient(to left, transparent 50%, hsl(135, 100%, 40%) 50%)
    right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.company-overview .content .btn a:hover {
  background-position: left;
}

/* @media (min-width: 1200px) {
  .company-overview .content {
  }
} */

/* company-overview styling-end */

/* company-members styling-start */
.company-members {
  background-color: hsl(0, 0%, 7.5%);
  color: #fff;
}

.company-members .content h1 {
  padding-top: 80px;
  padding-bottom: 32px;
  font-size: 3rem;
  border-width: 0px 1px;
  border-color: hsl(0, 0%, 21.2%);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  max-width: 58vw;
}

.company-members .content hr {
  padding: 0;
  margin: 0;
  width: 100vw;
  border-top-width: 1px;
  border-color: hsl(0, 0%, 21.2%);
}

.company-members .content .members {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  margin-left: auto;
  margin-right: auto;
  max-width: 58vw;
  padding-bottom: 80px;
  border-width: 0px 1px;
  border-color: hsl(0, 0%, 21.2%);
  border-style: solid;
}

.members-content a h2:hover {
  color: hsl(135, 100%, 40%);
}

.members-content a img:hover {
  border: 1px solid hsl(135, 100%, 40%);
}

.company-members-end h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 58vw;
  padding-bottom: 80px;
  border-width: 0px 1px;
  border-color: hsl(0, 0%, 21.2%);
  border-style: solid;
}
/* company-members styling-end */

/* company-structures styling-start */

.company-structures {
}

.company-structures .content h1 {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 3rem;
  border-width: 0px 1px;
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  max-width: 58vw;
}

.company-structures .content div {
  display: flex;
  background-color: hsl(0, 0%, 24.3%);
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  flex-direction: column;
}

.content button {
  width: 160px;
  text-align: center;
  border-radius: 35px;
  padding: 0.9rem 1.3rem;
  border: 1px solid hsl(135, 100%, 40%);
  background: linear-gradient(to left, transparent 50%, hsl(135, 100%, 40%) 50%)
    right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.content button:hover {
  background-position: left;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: #121212;
  color: #fff;
  align-items: center;
}

.copyright {
  padding: 20px;
  text-align: center;
  margin: 0;
  align-items: center;
}

/* Media queries */

@media (min-width: 1200px) {
  .company-overview .content {
  }
}
