body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Noto Sans";
}

/* Navigation bar */

.header {
  background-color: #49a368;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  gap: 50px;
  display: flex;
}

/* About Page */

.about-navbar {
  background-color: hsl(141, 17%, 24%);
  display: flex;
  font-size: 1.2em;
}

.about-navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 300px;
  padding-right: 300px;
  gap: 5em;
}

.about-navbar a {
  text-decoration: none;
  color: #fff;
}

.about-landing img {
  max-width: 100%;
}
