:root {
  --screen-width-sm: 540px;
  --screen-width-md: 720px;
  --screen-width-lg: 960px;
  --screen-width-xl: 1113px;
  --screen-width-2xl: 1320px;
  --container-padding: 28px;
}

* {
  box-sizing: border-box;
  border: 0 solid;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/* header-style start */
.header {
  background-color: #49a368;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  gap: 50px;
  display: flex;
}
/* header-style end */

.products {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  text-align: center;
}

.products-item-1 {
  flex: 1 1 50%;
  background-image: url(../img/furniture-delivery.jpg);
  background-position: top 0 left 100%;
  background-size: cover;
}

.products-item-2 {
  flex: 1 1 50%;
  background-image: url(../img/custom-made.jpg);
  background-position: top 0 left 100%;
  background-size: cover;
}

.products-item-3 {
  flex: 1 1 50%;
  background-image: url(../img/sustainable-material.jpg);
  background-position: top 0 left 100%;
  background-size: cover;
}

.products .description {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  padding: 0 100px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* footer style-start */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: #121212;
  color: #fff;
}

.footer-image {
  width: 150px;
  height: 50px;
  align-items: center;
}

.copyright {
  padding: 20px;
  text-align: center;
  margin: 0;
  align-items: center;
}
/* footer style-end */
